p{
  margin: 0px;
}

.chat_box{
  background-color: rgb(15, 15, 15);
  margin: .7rem;
  border-radius: .4rem;
  padding: 1rem;
}

.header{
  font-weight: 800;
  font-size: 1.4rem;
}

.canvas{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  min-width: 200px;
  min-height: 200px;

  box-shadow: 4px 4px 15px black;
}

.pixel{
  height: 4px;
  width: 4px;
  background-color: rgb(255, 255, 255);
  transition: 50ms;
}
.pixel:hover{
  background-color: rgb(132, 0, 255);
  transition: 50ms;
}

.canvas_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tool_container{
  position: absolute;
  left: 0px;
  top: 0px;
}